<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/st1.css">
</head>
<body>
	<div id="header">會員註冊</div>
	<div id="navigater"></div>
	<div id="content">
		<div id="alignform">
			<form action="/add" method="post">
				姓名:<input type="text" name="name"><br>
				帳號:<input type="text" name="username"><br>
				密碼:<input type="password" name="password"><br>
				<input type="submit" value="ok">
			</form>
		</div>
	
	
	</div>
	<div id="footer"></div>

</body>
</html>